# Entornos virtuales
venv/
env/
ENV/
.env

# Python caché
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Sistema
.DS_Store
Thumbs.db

settings.local